STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
YOUR_DOMAIN=https://la-guarida-del-tiempo.onrender.com
GMAIL_USER=tuemail@gmail.com
GMAIL_PASS=tuapppassword
NTFY_TOPIC=la-guarida-del-tiempo
